<!doctype html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peripheral Manager</title>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>

    <h1 id="heading">Neptune Peripheral Manager</h1>
    <div>
        <div style="margin-bottom: 20px;">
            <button id="get_ports" class="btn btn-primary">Update Page</button> New Name: <input type="text" name="new_name" id="new_name" style="margin-right:40px;">
        </div>
        <div>
            <table id='main_table' class="table table-bordered">
                <tr>
                    <th>Com Port</th>
                    <th>Connected</th>
                    <th>Module</th>
                    <th>Control</th>
                    <th>Send Message</th>
                    <th>Name</th>
                </tr>
            </table>
        </div>
    </div>

    <div style="margin-bottom: 20px">
        <button id="establish_connection" class="btn btn-primary">Establish Connection</button> Peripheral Connection Source: <input type="text" name="connection_source" id="connection_source"> Peripheral Connection Destination: <input type="text"
            name="connection_destination" id="connection_destination">
    </div>

    <div class="modal fade" id="pcrModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">PCR Module</h2>
                </div>
                <div class="modal-body">
                    <div id="chart_div" style="align-content: center; display: flex; justify-content: center;">
                    </div>
                    <div class="row" style="margin-top: 50px;">
                        <ul class="nav nav-tabs">
                            <li><a data-toggle="tab" href="#menu1">Output</a></li>
                            <li><a data-toggle="tab" href="#menu2">Control</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="menu1" class="tab-pane fade">
                                <div style="margin-top: 25px; margin-left: 20px;">
                                    <textarea rows="5" cols="100" id="pcr_output" style="overflow-y: scroll; resize: none" readonly></textarea>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <div style="margin-top: 25px; margin-left: 50px;">
                                    <div class="row">
                                        <form class="col m12">
                                            <div class = "row">
                                                <label for="pcrComName" style="font-size: 16px;">COM Name: </label>
                                                <input id="pcrComName" type="text" class="validate" style="margin-top: 35px; font-size: 14px;">
                                            </div>
                                            <div class="row">
                                                <label for="temp" style="font-size: 16px;">Temperatures: </label>
                                                <input id="temp" type="text" class="validate" style="margin-top: 35px; font-size: 14px;">
                                                <label for="time" style="font-size: 16px;">Times: </label>
                                                <input id="time" type="text" class="validate" style="margin-top: 35px; font-size: 14x;">
                                                <label for="repeat" style="font-size: 16px;">Repetitions: </label>
                                                <input id="repeat" type="text" class="validate" style="margin-top: 35px; font-size: 14px;">
                                                <input type="checkbox" id="warm">Warmup First
                                            </div>
                                            <div class="row" style="margin-top: 25px;">
                                                <div class="input-field col m12">
                                                    <p style="margin-top: 5px;"><button type="button" id="submitPCR" class="btn btn-outline-success">Submit Command</button></p>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 25px;">
                                              <button type="button" id="quitPCR" class="btn btn-outline-success">Quit Cycle</button>
                                              <button type="button" id="clearPCR" class="btn btn-outline-success">Clear Output</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close_pcr" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="charModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Characterization Module</h2>
                </div>
                <div class="modal-body">

                    <div style="margin-bottom: 20px;">
                        <!-- <button id="sendMessage" style="background-color: #000080;border-radius:8px 8px 8px 8px;color: white; margin-right: 40px;">Send message</button> Input: <input type="text" name="message" id="message" style="margin-right:40px;"> -->
                        <p>Droplet Representation:</p>
                        <div id="dropletShow" style="width: 50px; height: 50px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: gray;"></div>
                    </div>

                    <p id="charComName" style="margin-top: 35px; font-size: 14px;"></p>

                    <div class="row" style="margin-top: 25px; margin-left: 2px;">
                        <p style="margin-top: 5px;">
                            <input type="text" name="charMessage" id="charMessage" style="margin-right:5px;">
                            <button type="button" id="sendCharMessage" class="btn btn-outline-success">Submit Message</button>
                        </p>

                        <div style="margin-top: 25px;">
                            <textarea rows="5" cols="100" id="charOutput" style="overflow-y: scroll; resize: none" readonly></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="closeCharacterization" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    //PCR functions
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    var options = {
        hAxis: {
            title: 'Time (s)',
            titleTextStyle: {
                color: '#333'
            }
        },
        vAxis: {
            title: 'Temperature (\xB0C)',
            minValue: 0
        },
        legend: 'right',
        height: '500',
        width: '875',
        title: "Current Thermal Cycle"
    };

    var time = 1;
    var initialValue = true;

    var pcrArray = [
        ['Year', 'Desired Temp.', 'Actual Temp.'],
        [0, 23, 23]
    ];


    function drawChart() {
        var visArray = pcrArray;
        if (pcrArray.length > 201) {
            visArray = []
            visArray = pcrArray.slice(pcrArray.length - 201, pcrArray.length - 1);
            visArray.unshift(['Year', 'Desired Temperature', 'Actual Temperature']);
        }
        var data = google.visualization.arrayToDataTable(visArray);
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function printStuff(data) {
        var dataArray = data.split('\t');
        var totalArray = [time];
        count = 0;
        for (word in dataArray) {
            var val = parseFloat(dataArray[word]);
            if (!(isNaN(val)) && count < 2) {
                totalArray.push(val);
                count += 1;
            }
        }
        if (totalArray.length > 1) {
            pcrArray.push(totalArray);
            if (initialValue){
              pcrArray.splice(1,1);
              initialValue = false;
            }
            time += 1;
        }
        drawChart();
    }

    function clearPCR() {
        document.getElementById("pcr_output").value = "";
        pcrArray = [
            ['Year', 'Desired Temperature', 'Actual Temperature'],
            [0, 23, 23]
        ];
        time = 1;
        initialValue = true;
        drawChart();
    }

    //end PCR functions

    var socket = io();
    $('#get_ports').click(function() {
        socket.emit('get ports');
        return false;
    });

    $('#establish_connection').click(function() {
        var arr = {
            source: $('#connection_source').val(),
            destination: $('#connection_destination').val()
        };
        socket.emit('establish connection', arr);
    });

    function tableConnectButtonClick(comName, action) {
        socket.emit(action, comName);
    }

    function tableUpdateName(comName) {
        socket.emit('update name', [comName.substr(0, 4), $("#new_name").val()]);
        console.log(comName.substr(0, 4), $("#new_name").val());
    }

    function send(comName) {
        var arr = [comName.substr(0, 4), $("#message").val()];
        console.log(comName.substr(0, 4), $("#message").val());
        socket.emit('send message', arr);
        return false;
    }

    function sendWithMsg(comName, message) {
        var arr = [comName.substr(0, 4), message];
        console.log(comName.substr(0, 4), message);
        socket.emit('send message', arr);
        return false;
    }

    socket.on('port numbers', function(ports) {
        console.log(ports);
        var len = ports.length;
        var options = [];
        $("#main_table").html(
            "<table id='main_table' class='table table-bordered'>" +
            '<tr>' +
            '<th>Com Port</th>' +
            '<th>Connected</th>' +
            '<th>Module</th>' +
            '<th>Control</th>' +
            '<th>Send Message</th>' +
            '<th>Name</th>' +
            '</tr>' +
            '</table>'
        );
        for (var i = 0; i < len; i++) {
            options.push('<option value="',
                ports[i].comName, '">',
                ports[i].comName, '</option>');

            if (ports[i].module == 'PCR') {
                var html = '<tr>' +
                    '<td>' +
                    ports[i].comName +
                    '</td>' +
                    '<td id="' + ports[i].comName + '">' +
                    '<button id="' + ports[i].comName + '"' +
                    ' onclick="tableConnectButtonClick(this.id, this.value)" class="btn btn-secondary"' +
                    ' value="' + ports[i].connected + '">' +
                    ports[i].connected +
                    '</button>' +
                    '</td>' +
                    '<td>' +
                    ports[i].module +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'openPCR"  class="btn btn-primary" onclick="openPCR(this.id)">Open PCR Modal</button>' +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'send" ' + 'class="btn btn-secondary" onclick="send(this.id)">Send Message</button>' +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'name" class="btn btn-secondary" onclick="tableUpdateName(this.id)"> Set Name</button>' +
                    '</td>' +
                    '</tr>';
            } else if (ports[i].module == 'Characterization') {
                var html = '<tr>' +
                    '<td>' +
                    ports[i].comName +
                    '</td>' +
                    '<td id="' + ports[i].comName + '">' +
                    '<button id="' + ports[i].comName + '"' +
                    ' onclick="tableConnectButtonClick(this.id, this.value)" class="btn btn-secondary"' +
                    ' value="' + ports[i].connected + '">' +
                    ports[i].connected +
                    '</button>' +
                    '</td>' +
                    '<td>' +
                    ports[i].module +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'openChar"  class="btn btn-primary" onclick="openCharacterization(this.id)">Open Characterization Modal</button>' +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'send" ' + 'class="btn btn-secondary" onclick="send(this.id)">Send Message</button>' +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'name" class="btn btn-secondary" onclick="tableUpdateName(this.id)"> Set Name</button>' +
                    '</td>' +
                    '</tr>';
            } else {
                var html = '<tr>' +
                    '<td>' +
                    ports[i].comName +
                    '</td>' +
                    '<td id="' + ports[i].comName + '">' +
                    '<button id="' + ports[i].comName + '"' +
                    ' onclick="tableConnectButtonClick(this.id, this.value)" class="btn btn-secondary"' +
                    ' value="' + ports[i].connected + '">' +
                    ports[i].connected +
                    '</button>' +
                    '</td>' +
                    '<td>' +
                    ports[i].module +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'openPCR"  class="btn btn-primary">Control</button>' +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'send" ' + 'class="btn btn-secondary" onclick="send(this.id)">Send Message</button>' +
                    '</td>' +
                    '<td>' +
                    '<button id="' + ports[i].comName + 'name" class="btn btn-secondary" onclick="tableUpdateName(this.id)"> Set Name</button>' +
                    '</td>' +
                    '</tr>';
            }
            $("#main_table").append(html);
        }
        $("#selectNumber").html(options.join(''));

    });

    socket.on('data', function(data) {

        if (data.module == 'Characterization') {
            console.log('Detected Characterization module!');
            var splitData = data.data.split(" ");

            // Grab data from the window and append
            var allData = document.getElementById('charOutput').value;
            allData+= data.data + '\n';
            document.getElementById('charOutput').value = allData;

            // Auto scroll to bottom
            document.getElementById('charOutput').scrollTop = document.getElementById('charOutput').scrollHeight;

            if (splitData[2] == 'red') {
                $("#dropletShow").html(
                    '<div id="dropletShow" style="width: 50px; height: 50px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: red;"></div>'
                );

            } else if (splitData[2] == 'blue') {
                $("#dropletShow").html(
                    '<div id="dropletShow" style="width: 50px; height: 50px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: blue;"></div>'
                );
            }
        } else if (data.module == 'PCR') {
            $("#pcr_output").append('\n');

            $("#pcr_output").append(data.data);
            console.log(data.data);
            //if data is from a module of type: PCR
            var allText = document.getElementById("pcr_output").value;
            allText += data.data;
            allText += '\n';
            document.getElementById("pcr_output").value = allText;

            // Auto scroll to bottom
            document.getElementById('pcr_output').scrollTop = document.getElementById('pcr_output').scrollHeight;

            printStuff(data.data);
        }
    });

    socket.on('closed', function(data) {
        console.log(data);
        clearPCR();
    });

    socket.on('error message', function(data) {
        console.log(data);
    })

    // Open Characterization Modal

    function openCharacterization(comName) {
        document.getElementById("charComName").value = comName.substr(0,4);
        $('#charModal').modal().show();
    }

   /* $('#open_characterization').click(function() {
        $('#characterizationModal').modal().show();
    }); */

    //PCR modal
    function openPCR(newName) {
      document.getElementById("pcrComName").value = newName.substr(0, 4);
      $('#pcrModal').modal().show();
    }

    $('#quitPCR').click(function(){
      var arr = [document.getElementById("pcrComName").value, " Q "];
      console.log(document.getElementById("pcrComName").value, " Q ");
      socket.emit('send message', arr);
    });

    $('#clearPCR').click(function(){
      clearPCR();
    });

    $('#submitPCR').click(function(){
      finalCommand = "";
      tempCommand = "H";
      timeCommand = "T";
      repeatAmount = parseFloat(document.getElementById("repeat").value);

      for (var i = 0; i < repeatAmount; i++){
        tempCommand += " "+document.getElementById("temp").value;
        timeCommand += " "+document.getElementById("time").value;
      }
      tempCommand+=" S ";
      timeCommand+=" S ";

      if(document.getElementById('warm').checked){
        finalCommand+="W "+ timeCommand + tempCommand;
      }
      else{
        finalCommand+= timeCommand + tempCommand;
      }
      console.log(finalCommand);

      var arr = [document.getElementById("pcrComName").value, finalCommand];
      console.log(document.getElementById("pcrComName").value, finalCommand);
      socket.emit('send message', arr);

    });
    //end PCR Modal Buttons

    $('#sendCharMessage').click(function(){
        var enteredMessage = document.getElementById("charMessage").value;
        sendWithMsg( document.getElementById("charComName").value , enteredMessage);
        console.log(enteredMessage);
    })

</script>
</html>
