<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peripheral Manager</title>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>


<body>
<div style= "margin-left:20px;">
    <div>
        <h1 id="heading">Neptune Peripheral Manager</h1>
        <div>
            <div style="margin-bottom: 20px;">
                <button id="get_ports" class="btn btn-primary">Refresh Page</button>
                New Name: <input type="text" name="new_name" id="new_name" style="margin-right:40px;">
            </div>
            <div>
                <table id='main_table' class="table table-bordered">
                    <tr>
                        <th>Com Port</th>
                        <th>Connected</th>
                        <th>Module</th>
                        <th>Control</th>
                        <th>Send Message</th>
                        <th>Name</th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-bottom: 20px">
            <button id="establish_connection" class="btn btn-primary">Establish Connection</button>
            Peripheral Connection Source: <input type="text" name="connection_source" id="connection_source">
            Peripheral Connection Destination: <input type="text" name="connection_destination" id="connection_destination">
        </div>
        <div style="margin-bottom: 20px;">
            Input: <input type="text" name="message" id="message" style="margin-right:40px;">
        </div>
        <div>
            Output: <textarea rows="10" cols="100" name="output" id="output" style="overflow-y: scroll; resize: none" ></textarea>
        </div>

        <!-- Hardware Modules Basic Status, button for Modal with more details-->
        <div>

          <h4> Module Status </h4>
          <!-- PCR Modal -->

          <div>
              <button id="open_pcr" class="btn btn-primary">Open PCR Modal</button>
          </div>

          <div class="modal fade" id="pcrModal" role="dialog">
              <div class="modal-dialog modal-lg">

                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <h2 class="modal-title">PCR Module</h2>
                      </div>
                      <div class="modal-body">
                          <div style="margin-bottom: 20px;">
                              <button id="send_message" style="background-color: #000080;border-radius:8px 8px 8px 8px;color: white; margin-right: 40px;">Send message</button> Input: <input type="text" name="message" id="message" style="margin-right:40px;">
                          </div>
                          <div id="chart_div" style="align-content: center; display: flex; justify-content: center;"></div>
                          <div>
                              <p>Output:</p> <textarea rows="5" cols="75" name="output" id="output" style="overflow-y: scroll; resize: none" readonly></textarea>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button id = "close_pcr" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>

          <!-- End PCR Modal -->
            <!-- Characterization Modal -->
            <div style="margin-top: 20px;">
                <button id="open_characterization" class="btn btn-primary">Open Characterization Modal</button>
            </div>

            <div class="modal fade" id="characterizationModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Characterization Module</h2>
                        </div>
                        <div class="modal-body">
                            <div style="margin-bottom: 20px;">
                                <!-- <button id="sendMessage" style="background-color: #000080;border-radius:8px 8px 8px 8px;color: white; margin-right: 40px;">Send message</button> Input: <input type="text" name="message" id="message" style="margin-right:40px;"> -->
                                <p>Droplet Representation:</p>
                                <div style="width: 50px; height: 50px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: red;"></div>
                            </div>
                            <div id="chartdiv" style="align-content: center; display: flex; justify-content: center;"></div>
                            <div>
                                <p>Raw Output:</p> <textarea rows="5" cols="75" name="output" id="out" style="overflow-y: scroll; resize: none" readonly></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id = "closeCharacterization" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Characterization Module -->

        </div>
    </div>
</div>
</body>

<script>
    var socket = io();
    $('#get_ports').click(function(){
        socket.emit('get ports');
        return false;
    });

    $('#establish_connection').click(function () {
        var arr = {
            source: $('#connection_source').val(),
            destination: $('#connection_destination').val()
        };
        socket.emit('establish connection', arr);
    });

    function tableConnectButtonClick(comName, action) {
        socket.emit(action, comName);
    }

    function tableUpdateName(comName) {
        socket.emit('update name', [comName.substr(0,4), $("#new_name").val()]);
        console.log(comName.substr(0,4), $("#new_name").val());
    }

    function send(comName) {
        var arr = [comName.substr(0,4), $("#message").val()];
        console.log(comName.substr(0,4), $("#message").val());
        socket.emit('send message', arr );
        return false;
    }
    socket.on('port numbers', function(ports) {
        console.log(ports);
        var len = ports.length;
        var options = [];
        $("#main_table").html(
            "<table id='main_table' class='table table-bordered'>" +
            '<tr>' +
            '<th>Com Port</th>'+
            '<th>Connected</th>'+
            '<th>Module</th>'+
            '<th>Control</th>'+
            '<th>Send Message</th>'+
            '<th>Name</th>'+
            '</tr>' +
            '</table>'
        );
        for (var i = 0; i < len; i++) {
            options.push('<option value="',
                ports[i].comName, '">',
                ports[i].comName, '</option>');
            var html = '<tr>' +
                '<td>'
                + ports[i].comName +
                '</td>' +
                '<td id="' + ports[i].comName + '">'
                + '<button id="' + ports[i].comName + '"'
                + ' onclick="tableConnectButtonClick(this.id, this.value)" class="btn btn-secondary"' +
                ' value="' + ports[i].connected +'">' +
                ports[i].connected +
                '</button>'+
                '</td>' +
                '<td>' +
                ports[i].module +
                '</td>' +
                '<td>' +
                'Control Page' +
                '</td>' +
                '<td>' +
                '<button id="' +ports[i].comName + 'send" ' +'class="btn btn-secondary" onclick="send(this.id)">Send Message</button>' +
                '</td>'+
                '<td>' +
                '<button id="' + ports[i].comName +'name" class="btn btn-secondary" onclick="tableUpdateName(this.id)"> Set Name</button>'
                +
                '</td>' +
                '</tr>';
            $("#main_table").append(html);
        }
        $("#selectNumber").html(options.join(''));

    });

    socket.on('data', function(data) {
        $("#output").append('\n');
        $("#output").append(data.data);
        console.log(data.data);
    });

    socket.on('closed', function (data) {
        console.log(data);
    });

    socket.on('error message', function (data) {
        console.log(data);
    })

    //PCR functions
    $('#open_pcr').click(function() {
        $('#pcrModal').modal().show();
    });

    // Open Characterization Modal
    $('#open_characterization').click(function() {
        $('#characterizationModal').modal().show();
    });

</script>
</html>
